*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #A2D2FF;
}

.container{
    width: 35vw;
    border: 2px solid black;
    border-radius: 3rem;
    background-color: #003049;
    text-align: center;
    color: #fff;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.search input{
    height: 3rem;
    border-radius: 50px;
    padding: 1rem 1.75rem;
    font-size: 1.15rem;
    flex: 1;
    border: none;
    outline: none;
}

.search button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.search button i{
    font-size: 1.75rem;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
}

.col{
    display: flex;
}

.col img{
    width: 30px;
    height: 30px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 60px;
    font-size: 24px;
    display: none;
    color: red;
}